<!DOCTYPE html>
<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="custom-directives/svg-icon.css" />
    <link rel="stylesheet" href="custom-directives/loading-indicator.css" />
    <link rel="stylesheet" href="techs/techs.css" />

</head>

<body ng-app="ngApp" ng-cloak="">

    <div ng-controller="MainCtrl as main">
        <header>
            <div class="row header">
                <div class="col-sm-6 header-title"><h1>{{main.greeting}}!</h1></div>
                <div class="col-sm-6 header-date">{{main.current.time}}</div>
            </div>

            <div class="container panel panel-default">
                <label>Radius: <input type="text" ng-model="main.radius"></label>
                <button class="btn btn-success" ng-click="main.calculateArea(main.radius)">Calculate Area</button>
                {{main.area}}
            </div>
        </header>
        <nav>
            <ul class="nav nav-tabs nav-justified">
                <li ng-class="{'active': main.activeTab == 1}"><a href="#" ng-click="main.activateTab(1)">Home</a></li>
                <li ng-class="{'active': main.activeTab == 2}"><a href="#" ng-click="main.activateTab(2)">Page 1</a></li>
                <li ng-class="{'active': main.activeTab == 3}"><a href="#" ng-click="main.activateTab(3)">Page 2</a></li>
                <li ng-class="{'active': main.activeTab == 4}"><a href="#" ng-click="main.activateTab(4)">Directives</a></li>
                <li ng-class="{'active': main.activeTab == 5}"><a href="#" ng-click="main.activateTab(5)">Components</a></li>
            </ul>
        </nav>

        <div ng-switch on="main.activeTab">
            <div ng-switch-when="1">
                <div ng-include="'home/home.html'"></div>
            </div>
            <div ng-switch-when="2">
                <div ng-include="'directives-lesson/page1.html'"></div>
            </div>
            <div ng-switch-when="3">
                <div ng-include="'directives-lesson/page2.html'"></div>
            </div>
            <div ng-switch-when="4">
                <div ng-include="'custom-directives/directives.html'"></div>
            </div>
            <div ng-switch-when="5">
                <div ng-include="'techs/components.html'"></div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>

    <script src="lib/lib.module.js"></script>

    <script src="time/time.module.js"></script>
    <script src="message/message.module.js"></script>

    <script src="home/home.module.js"></script>
    <script src="home/home.controller.js"></script>

    <script src="childModule/childModule.module.js"></script>
    <script src="childModule/childModule.config.js"></script>

    <script src="directives-lesson/directives-lesson.module.js"></script>
    <script src="directives-lesson/page2.controller.js"></script>

    <script src="custom-directives/custom-directives.module.js"></script>
    <script src="directives-lesson/people.service.js"></script>
    <script src="custom-directives/directive.controller.js"></script>
    <script src="custom-directives/svg-icon.directive.js"></script>
    <script src="custom-directives/loadingIndicator.directive.js"></script>

    <script src="techs/techs.module.js"></script>
    <script src="techs/header.component.js"></script>
    <script src="techs/footer.component.js"></script>
    <script src="techs/techs.component.js"></script>
    <script src="techs/tech.component.js"></script>
    <script src="techs/techs.factory.js"></script>
    <script src="techs/techMapper.factory.js"></script>

    <script src="app.js "></script>
    <script src="app.config.js "></script>
</body>

</html>
